<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3">NFT SAGA</h1>
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3UIcYLmKMrU5cVdggqqY58tKJXUCqm6QF2XeUNab39udpxiBmPSqKWxUVS8_lqN8dQuI&usqp=CAU"
      height="100"
      alt="NFT Saga Logo"
      loading="lazy"
    />
    <p>
  Welcome to NFT Saga!

Our platform is dedicated to providing a space for creators, collectors, and enthusiasts to buy, sell, and trade non-fungible tokens (NFTs). Our mission is to democratize access to digital art and assets, and to empower creators to monetize their work in new and innovative ways.

At NFT Saga, we believe that NFTs have the potential to revolutionize the way we think about ownership and value in the digital world. By creating a platform that is easy to use, secure, and transparent, we hope to play a leading role in this exciting new industry.

Our team is made up of experienced professionals from a variety of backgrounds, including blockchain technology, art, and finance. We are passionate about the potential of NFTs to transform the way we think about creativity and commerce, and we are committed to building a platform that reflects this vision.

If you have any questions or feedback about our platform, please don't hesitate to get in touch. We are always looking for ways to improve our service and to better serve our community of users.

Thank you for choosing NFT Saga as your go-to destination for all things NFTs!
  </p>
<br />
    <hr>
    <a class="btn btn-dark btn-lg" href="/nfts" role="button">Buy NFTs</a>
    <footer>Made with ❤️ By <a href = "https://www.github.com/RockeTCodes">RockeTCodes</a></footer>
  </div>
</div>
